
<style>
   .c{
       color:white;
       width:200px;
   }
</style>

<hr />
<div>
    <center>

            <div class="btn btn-success btn-lg c ">
                @Html.ActionLink(" Result ", "Index", "Result")
            </div>
            <br />
        <br />
            <div class="btn btn-success btn-lg c link-light">
                @Html.ActionLink("SeatPlan", "Index", "SeatPlan")
            </div>
            <br />
        <br />
            <div class="btn btn-success btn-lg c link-light">
                @Html.ActionLink("Payment", "Index", "Payment")
            </div>

    </center>
</div>





