@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div>
    <center><h1 style="color:crimson">Think Forword School and Collage</h1></center>
    <center> <h2 style="color:crimson">First Year Admission: Academic Year:2021-2022</h2></center>

</div>
<div>
    <marquee width="70%" direction="left" height="150px;" style="color:red">
        Merit lists of B & C units are available on  on the applicant profiles. Merit lists C units will be available soon.
    </marquee>
</div>













